<app-navbar></app-navbar>
<div class="container">
    <div class="profile noStyles">
        <div class="portada">
            <div class="bannerDIV">
                <img class="banner" src="assets/temp/temp.svg" alt="profile banner">

            </div>
            <div class="arrowDIV"><button class="arrowButton" (click)="goBack()"><img class="arrow"
                        src="assets/profile/arrow.svg" alt="arrow"></button></div>
            <div class="profilePhotoDIV">
                <img class="profilePhoto" src="assets/temp/fotoPerfil.svg" alt="Foto de Perfil">
            </div>
        </div>
        <div class="mb-5">
            <div class="profileInfo mb-5">
                <div class="row noStyles mb-5 row align-content-center">
                    <div class="col-3 noStyles">
                        <h1>Maria Ferrer</h1>
                    </div>
                    <div class="estrellas col-4 row align-content-center">
                        <div class="p-0 m-0">
                            <i class="bi bi-star-fill stars"></i>
                            <i class="bi bi-star-fill stars"></i>
                            <i class="bi bi-star-fill stars"></i>
                            <i class="bi bi-star-fill stars"></i>
                            <i class="bi bi-star-fill stars"></i>
                        </div>
                    </div>
                    <div class="col-1 noStyles">
                        <p>4.5</p>
                    </div>
                    <div class="col-1 noStyles">
                        <p>(35)</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="row mb-4">
                        <div class="col-1 noStyles">
                            <img class="iconos" src="assets/profile/maletin.svg" alt="maletin">
                        </div>
                        <div class="col-11 noStyles">
                            <p class="servicioPerfil">Manicurista, maquilladora</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="noStyles col-1">
                            <img class="iconos" src="assets/profile/marcador.svg" alt="marcador">
                        </div>
                        <div class="noStyles col-11">
                            <p class="servicioPerfil">Barranquilla, Atlántico, Colombia</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-5 pb-5">
                    <div class="col-2 noStyles">
                        <button class="botonPurple botonAdquirir f-24">Contactar</button>
                    </div>
                    <div class="col-2 noStyles">
                        <!-- <button class="botonWhite f-24 btnPerfil">Contactar</button> -->
                    </div>
                </div>
                <div class="noStyles">
                    <div>
                        <h2>Sobre mí</h2>
                    </div>
                    <div class="mb-5">
                        <p class="profileResume">¡Hola! Soy María, tengo 27 años y soy una manicurista y maquilladora
                            profesional. Mi pasión es realzar la belleza y la confianza de mis clientes a través de mi
                            arte. Me dedico a proporcionar un servicio personalizado y meticuloso, asegurándome de que
                            cada detalle refleje la personalidad única de quien confía en mi trabajo.</p>
                    </div>
                </div>
                <div class="row pt-5 mb-5 text-center">
                    <div class="bordeRosa resenaContainer col-4 row align-content-center noStyles">
                        <div class="noStyles">
                            <p class="resena">45</p>
                        </div>
                        <div class="noStyles">
                            <p class="resenaName">Trabajos realizados</p>
                        </div>
                    </div>
                    <div class="bordeRosa resenaContainer col-4 row align-content-center noStyles">
                        <div class="noStyles">
                            <p class="resena">35</p>
                        </div>
                        <div class="noStyles">
                            <p class="resenaName">Reseñas</p>
                        </div>
                    </div>
                    <div class="bordeRosa resenaContainer col-4 row align-content-center noStyles">
                        <div class="noStyles">
                            <p class="resena">30</p>
                        </div>
                        <div class="noStyles">
                            <p class="resenaName">Recomendaciones</p>
                        </div>
                    </div>
                </div>
                <div class="pt-5">
                    <div class="pt-5 pb-5">
                        <p class="titleDark">Servicios ofrecidos</p>
                    </div>
                    <div class="row">
                        <app-profile-services></app-profile-services>
                        <!-- <div *ngFor="let item of data" class="col-4 px-0 mx-0 my-0 pt-0 pb-5 d-flex justify-content-center">
                        <app-profile-services [data]="item"></app-profile-services>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>

<!-- <form action="" [formGroup]="myForm" (ngSubmit)="enviarSolicitud(myForm)">
    <input type="hidden" formControlName="idServicioProfesion" [value]="data?.idServicioProfesion">
    <input type="text" formControlName="mensaje" placeholder="Dejame un mensaje">

    <div class="row d-flex">
        <div class="col-2"><button class="botones">Adquirir servicios</button></div>
        <div class="col-1"><button class="botones">Recomendar</button></div>
    </div>
</form> -->