<app-navbar></app-navbar>
<div class="container">
    <div>
        <button routerLink="/registro" class="form-control">Volver</button>
        <h1>Términos y Condiciones de Uso de la Aplicación Domi</h1>
        <h2>Introducción</h2>
        <p>Bienvenido a Domi, una aplicación de servicios operada por un grupo sin ánimo de lucro con fines educativos.
            Los presentes Términos y Condiciones de Uso (en adelante, "Términos") regulan el acceso y uso de la
            aplicación Domi (en adelante, "la App"), por lo que le recomendamos leerlos detenidamente antes de utilizar
            nuestros servicios.</p>
        <h2>Aceptación de los Términos</h2>
        <p>Al descargar, acceder y/o utilizar la App, usted acepta cumplir y quedar obligado por estos Términos. Si no
            está de acuerdo con estos Términos, no debe utilizar la App.</p>
        <h2>Objetivo de la App</h2>
        <p>Domi es una aplicación de servicios creada con fines educativos y sin ánimo de lucro. Nuestro objetivo
            principal es proporcionar una plataforma para la práctica y el aprendizaje en el desarrollo y uso de
            aplicaciones móviles. No se realiza ninguna actividad comercial con esta aplicación y todos los servicios
            proporcionados son para fines educativos.</p>
        <h2>Uso de la App</h2>
        <ol>
            <li>Registro y Cuentas de Usuario: Para utilizar ciertos servicios de la App, es posible que se le solicite
                registrar una cuenta. Usted se compromete a proporcionar información precisa y completa durante el
                proceso de registro y a mantener dicha información actualizada. Usted es responsable de mantener la
                confidencialidad de su cuenta y contraseña y de todas las actividades que ocurran bajo su cuenta.</li>
            <li>Uso Aceptable: Usted se compromete a utilizar la App de manera responsable y a no realizar ninguna
                actividad que pueda dañar, interferir o interrumpir el funcionamiento de la App. Está prohibido utilizar
                la App para cualquier propósito ilegal o no autorizado.</li>
            <li>Contenido Generado por el Usuario: Usted puede tener la posibilidad de cargar, publicar o transmitir
                contenido a través de la App. Usted retiene todos los derechos sobre su contenido, pero al hacerlo,
                otorga a Domi una licencia no exclusiva, libre de regalías, para utilizar, reproducir, modificar, y
                distribuir dicho contenido para el propósito de operar y mejorar la App.</li>
        </ol>
        <h2>Propiedad Intelectual</h2>
        <p>Todos los derechos, títulos e intereses en y sobre la App, incluyendo pero no limitado a contenido, gráficos,
            interfaces de usuario, scripts y software utilizado para implementar la App, son propiedad de Domi y están
            protegidos por las leyes de derechos de autor, marcas registradas y otras leyes de propiedad intelectual.
            Usted no debe copiar, modificar, distribuir, vender o arrendar ninguna parte de nuestros servicios ni el
            software incluido.</p>
        <h2>Limitación de Responsabilidad</h2>
        <p>Domi se proporciona "tal cual" y "según disponibilidad". En la medida máxima permitida por la ley aplicable,
            Domi no ofrece garantías de ningún tipo, ya sean expresas o implícitas, sobre la operatividad de la App o la
            información, contenido o materiales incluidos en la misma. Usted acepta que el uso de la App es bajo su
            propio riesgo.</p>
        <h2>Modificaciones a los Términos</h2>
        <p>Nos reservamos el derecho de modificar estos Términos en cualquier momento. Si hacemos cambios materiales a
            estos Términos, le notificaremos a través de la App o mediante cualquier otro medio razonable. El uso
            continuado de la App después de la modificación de los Términos constituye su aceptación de los nuevos
            Términos.</p>
        <h2>Privacidad</h2>
        <p>Nos comprometemos a proteger su privacidad. Nuestra Política de Privacidad explica cómo recopilamos,
            utilizamos y compartimos su información personal. Al utilizar la App, usted acepta la recopilación y el uso
            de la información de acuerdo con nuestra Política de Privacidad.</p>
        <h2>Ley Aplicable y Jurisdicción</h2>
        <p>Estos Términos se regirán e interpretarán de acuerdo con las leyes del país en el que operamos, sin dar
            efecto a ninguna disposición sobre conflictos de leyes. Usted acepta que cualquier disputa que surja de o en
            relación con estos Términos se resolverá exclusivamente en los tribunales competentes del país mencionado.
        </p>
        <h2>Contacto</h2>
        <p>Si tiene alguna pregunta sobre estos Términos, por favor póngase en contacto con nosotros a través de nuestro
            correo electrónico: xxxxxxxx&#64;xxxxx.org.</p>
    </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>