<app-navbar></app-navbar>
<div class="container text-center" >
    <div>
        <div class="mb-4">
            <img src="assets/pageNotFound/404.png" alt="pageNotFound" style="width: 359px;">
        </div>
        <div class="mb-4">
            <p>Ups parece que nos hace falta algo, no te preocupes, puedes seguir navegando en nuestra pagina</p>
        </div>
        <div>
            <p>Para tu comodidad, trataremos de resolver el problema lo antes posible.</p>
        </div>
        <div>
            <button class="botones" (click)="goBack()">Regresar</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>