
<app-navbar></app-navbar>

<div class="mt-5">
    <div class="container">
        <div class="card border-0" style="padding-bottom: 183px;">
            <div class="row g-0">
                <div class="col-md-5 pe-4 pb-5">
                    <div class="card-body m-0 p-0">
                        <h1 class="f-purpleDark f-36 pb-5 m-0 p-0">¡Todos los servicios que necesitas, en un solo lugar!
                        </h1>
                        <p class="f-24 m-0 p-0 pb-5">Somos más que una aplicación; somos tu aliado en el hogar para
                            resolver
                            tus necesidades diarias.
                            ¿Tienes
                            una fuga de agua? ¿Necesitas reparar un enchufe? ¿Quieres podar tu jardín? No te preocupes,
                            nuestros
                            expertos están listos para ayudarte.</p>
                        <button class="botonPurple" style="width: 146px;">Saber más</button>
                    </div>
                </div>
                <div class="col-md-6 offset-md-1">
                    <img src="assets/home/anuncio.svg" alt="anuncio" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="container row align-items-end ">
        <div class="col-md-4 col-sm-12 text-center px-0 row align-content-center pb-4">
            <p class="f-36 f-purpleNormal mb-3">234</p>
            <p class="f-40">Professionales</p>
        </div>
        <div class="col-md-4 col-sm-12 text-center px-0 row align-content-center pb-4">
            <p class="f-36 f-purpleNormal mb-3">+60</p>
            <p class="f-40">Categorias</p>
        </div>
        <div class="col-md-4 col-sm-12 text-center px-0 row align-content-center pb-4">
            <p class="f-36 f-purpleNormal mb-3">+1000</p>
            <p class="f-40">Servicios</p>
        </div>
    </div>

    <div class="mx-0 px-0 py-5">

        <div class="container">
            <div class="mb-5">
                <div class="text-center">
                    <h2 class="f-24 title">Hazlo Fácil, Hazlo en Casa</h2>
                </div>
                <div class="row justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="335" height="6" viewBox="0 0 335 6" fill="none">
                        <path d="M0 3H335.001" stroke="#A851FF" stroke-width="5" />
                    </svg>
                </div>
            </div>
            <div class="pb-5">
                <p class="f-24 pb-5 text-center">En Domi, comprendemos que tu tiempo y tranquilidad son invaluables. Por
                    eso,
                    hemos creado una experiencia
                    única que combina confiabilidad, comodidad y atención personalizada. Somos la plataforma que conecta
                    a
                    usuarios como tú con profesionales confiables para resolver sus necesidades en el hogar.</p>
            </div>
        </div>

        <div class="container">

            <div class="mb-5">
                <div class="text-center">
                    <h2 class="f-24 title">¿Por qué elegirnos?</h2>
                </div>
                <div class="row justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="335" height="6" viewBox="0 0 335 6" fill="none">
                        <path d="M0 3H335.001" stroke="#A851FF" stroke-width="5" />
                    </svg>
                </div>
            </div>
            <div class="row pb-5">
                <div class="col-md-4 px-5 text-center pb-5">
                    <img src="/assets/home/escudo.svg" alt="escudo" class="imgFeatures mb-4">
                    <h3 class="f-20">Profesionales Verificados</h3>
                    <p class="f-16">Cada plomero, electricista, jardinero o especialista en limpieza ha demostrado su
                        experiencia y habilidades.</p>
                </div>
                <div class="col-md-4 px-5 text-center pb-5">
                    <img src="/assets/home/dollar.svg" alt="escudo" class="imgFeatures mb-4">
                    <h3 class="f-20">Pago Seguro y Transparente</h3>
                    <p class="f-16">Sabrás exactamente cuánto pagarás antes de confirmar el servicio.</p>
                </div>
                <div class="col-md-4 px-5 text-center pb-5">
                    <img src="/assets/home/member.svg" alt="escudo" class="imgFeatures mb-4">
                    <h3 class="f-20">Búsqueda fácil</h3>
                    <p class="f-16">Podrás buscar y pedir el servicio fácil y rápido al profesional que elijas desde la
                        comodidad de tu casa.
                    </p>
                </div>
            </div>
        </div>

        <div class="comoFunciona container text-center mb-5">
            <div class="py-5">
                <div class="pb-5">
                    <h2 class="titleH2">¿Cómo funciona?</h2>
                    <div class="row justify-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="258" height="6" viewBox="0 0 335 6" fill="none">
                            <path d="M0 3H335.001" stroke="#A851FF" stroke-width="5" />
                        </svg>
                    </div>
                </div>
                <p class="comoFuncionaText">Usar Domi es tan fácil como tomar tu teléfono y seguir estos pequeños
                    pasos,
                </p>
            </div>

            <div class="row mt-4">

                <div class="col-md-4">
                    <div class="col-12 numberPink mt-4 d-flex align-items-center mb-3">1</div>
                    <div class="col-12 containerPink d-flex align-items-center">
                        <p class="parrafoText f-20">Regístrate o inicia sesión en nuestra App para poder contratar el servicio</p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="numberPink mt-4 d-flex align-items-center mb-3">2</div>
                    <div class="containerPink d-flex align-items-center">
                        <p class="parrafoText f-20">Busca el servicio que quieres recibir y selecciona al profesional que mejor se adapte a tus necesidades</p>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="numberPink mt-4 d-flex align-items-center mb-4">3</div>
                    <div class="containerPink d-flex align-items-center">
                        <p class="parrafoText f-20">Escoge la fecha y hora según tu disponibilidad y solicita el servicio.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="pb-5 pt-5">
            <h2 class="f-24 row justify-content-center">¿Qué hacer luego de enviar mi solicitud de servicio?</h2>
            <div class="row justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="650" height="6" viewBox="0 0 335 6" fill="none">
                    <path d="M0 3H335.001" stroke="#A851FF" stroke-width="5" />
                </svg>
            </div>
        </div>

        <div class="container">
            <div class="row pb-5">
                <div class="col-md-4 row justify-content-center pb-5 px-5"><img class="pb-5"
                        src="assets/home/esperar.svg" alt="queHacerImg">
                    <h2 class="f-24 f-purpleDark  text-center">Esperar respuesta del profesional</h2>
                    <p class="f-16">Cuando envías una solicitud de servicio al profesional, él recibe una notificación
                        inmediata.
                        Mientras esperas su respuesta, relájate y confía en que estamos trabajando para conectarlo
                        contigo.
                    </p>
                </div>
                <div class="col-md-4 row justify-content-center pb-5 px-5"><img class="pb-5"
                        src="assets/home/evaluar.svg" alt="queHacerImg">
                    <h2 class="f-24 f-purpleDark  text-center">Evaluar el servicio</h2>
                    <p class="f-16">Tus comentarios son invaluables para nosotros, ya que nos ayudan a mantener un
                        estándar
                        de calidad y
                        transparencia. Además, tus reseñas enriquecen nuestra app, ofreciendo a otros usuarios la
                        confianza
                        y la información necesaria para tomar decisiones acertadas.</p>
                </div>
                <div class="col-md-4 row justify-content-center pb-5 px-5"><img class="pb-5"
                        src="assets/home/disfruta.svg" alt="queHacerImg">
                    <h2 class="f-24 f-purpleDark  text-center">Relájate y disfrutar de tu hogar</h2>
                    <p class="f-16">Entendemos lo esencial que es para ti tener un hogar sin complicaciones, por eso, en
                        nuestra App, nos
                        esforzamos por brindarte servicios que hacen tu vida más fácil y tu hogar más agradable. </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="pb-5">
                <h2 class="f-24 row justify-content-center">Beneficios de registrarte como profesional</h2>
                <div class="row justify-content-center pb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="650" height="6" viewBox="0 0 335 6" fill="none">
                        <path d="M0 3H335.001" stroke="#A851FF" stroke-width="5" />
                    </svg>
                </div>
                <div class="mx-5">
                    <p class="f-20 text-center" style="color: #4D4D4D; font-weight: 400;"><b>¡Brinda tus servicios a la
                            comunidad de Domi!</b> Al registrarte llena
                        el formulario de y continua como
                        profesional ¡comparte tus habilidades con quienes lo necesitan!</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row pb-5">
                        <div class="col-2"><img src="assets/home/mano.svg" alt="mano"></div>
                        <div class="col-10 row">
                            <h3 class="f-purpleDark f-20">Reconocimiento</h3>
                            <p class="beneficiosProfesionales">Oportunidades de destacar en la plataforma mediante
                                reseñas
                                positivas y un buen historial de
                                servicios, lo que te puede llevar a más contrataciones.</p>
                        </div>
                    </div>
                    <div class="row pb-5">
                        <div class="col-2"><img src="assets/home/reconocimiento.svg" alt="mano"></div>
                        <div class="col-10 row">
                            <h3 class="f-purpleDark f-20">Autonomía</h3>
                            <p class="beneficiosProfesionales">Tienes el control total sobre los servicios que ofreces,
                                puedes personalizar tu oferta, estableciendo tus propios estándares de calidad y
                                horarios.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <img src="assets/home/profesional.svg" alt="profesionales">
                </div>
                <div class="col-md-4">
                    <div class="row pb-5">
                        <div class="col-2"><img src="assets/home/stonks.svg" alt="mano"></div>
                        <div class="col-10 row">
                            <h3 class="f-purpleDark f-20">Crecimiento en tu red de clientes</h3>
                            <p class="beneficiosProfesionales">Conecta con personas que buscan exactamente los servicios
                                que
                                ofreces, ampliando tu clientela.</p>
                        </div>
                    </div>
                    <div class="row pb-5">
                        <div class="col-2"><img src="assets/home/calendario.svg" alt="mano"></div>
                        <div class="col-10 row">
                            <h3 class="f-purpleDark f-20">Flexibilidad de horario</h3>
                            <p class="beneficiosProfesionales">Tú decides cuándo y dónde trabajar, adaptando tu agenda a
                                tus
                                necesidades personales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <app-footer></app-footer>
</footer>

<router-outlet></router-outlet>
