.container{
    width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 120px;
    
}

.title {
    font-weight: 700 !important;
}

.titleH2 {
    color: var(--Color-principal, #FFF);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0.1px;
}

.comoFuncionaText {
    color: var(--Color-principal, #FFF);
    text-align: center;
    font-family: Urbanist, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.imgFeatures {
    width: 40px;
}

.containerPink {
    height: 225px;
    width: 249px;
    border-radius: 5px;
    border: 5px solid var(--Color-terciario, #C496FF);
    background: #FFF;
    text-align: center;
    margin: 0 auto;
}

.numberPink {
    color: #FFF;
    text-align: center;
    font-family: "IBM Plex Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.1px;
    width: 100px;
    height: 100px;
    border: 10px solid #eee0ffff;
    border-radius: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    background-color: #a852ffff;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.comoFuncionaImg {
    width: 300px;
}

.comoFunciona {
    margin-top: 78px;
    background-image: url('/assets/home/comoFunciona.svg');

}

.beneficiosProfesionales {
    color: #4D4D4D;
    font-family: Urbanist, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.1px;
}

@media (max-width: 1536px){
    .container {
        max-width: 1536px;
    }
}

@media (max-width: 1280px){
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1024px){
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 768px){
    .container {
        max-width: 768px;
    }
}

@media (max-width: 640px){
    .container {
        max-width: 640px;
    }
}

@media (max-width: 475px){
    .container {
        max-width: 475px;
    }
}