<div class="row mainDIV">
    <div class="col-3 barraLateral">
        <div class="contenedorInterno">
            <a href="#" routerLink="/">
                <div class="logo mb-5">
                    <img style="width: 106px;" src="assets/img/logo.svg" alt="home">
                </div>
            </a>
            <a href="#" routerLink="/">
                <div class="d-flex align-items-center my-0 py-0">
                    <img src="assets/account/home.svg" alt="home" class="me-2">
                    <p class="f-20 f-purpleDark my-0">Inicio</p>
                </div>
            </a>

            <div class="p-0 mx-0 mt-2 mb-5">
                <hr>
            </div>

            <a href="#">
                <div class="d-flex align-items-center mb-5 mt-0">
                    <img src="assets/account/ojo.svg" alt="ojo" class="me-2">
                    <p class="f-20 f-purpleDark p-0 m-0">Ver como professional</p>
                </div>
            </a>

            <a href="#" routerLink="/professionals">
                <div class="d-flex align-items-center mb-5 mt-0 py-0">
                    <img src="assets/account/maletin.svg" alt="maletin" class="me-2">
                    <p class="f-20 f-purpleDark p-0 m-0">Servicios</p>
                </div>
            </a>
            <a href="#" routerLink="/profile">
                <div class="d-flex align-items-center mb-5 mt-0 py-0">
                    <img src="assets/account/user.svg" alt="user" class="me-2">
                    <p class="f-20 f-purpleDark p-0 m-0">Perfil</p>
                </div>
            </a>

            <a href="#">
                <div class="d-flex align-items-center mb-5 mt-0 py-0">
                    <img src="assets/account/estrella.svg" alt="estrella" class="me-2">
                    <p class="f-20 f-purpleDark p-0 m-0">Reseñas</p>
                </div>
            </a>

            <a href="#" routerLink="/home">
                <div class="d-flex align-items-center mb-5 mt-0 py-0">
                    <img src="assets/account/logout.svg" alt="cerrar sesion" class="me-2">
                    <p class="f-20 f-purpleDark p-0 m-0">Cerrar sesión</p>
                </div>
            </a>
        </div>
    </div>
    <div class="contenedorDerechoPrincipal col-9">
        <div class="contenedorSuperior mt-3 d-flex justify-content-end align-items-center"> <!-- contenedor superior -->
            <div class="d-flex align-items-center me-5">
                <img src="assets/account/mensaje.svg" alt="mensajes">
                <p class="p-0 m-0 ms-2">Mensajes</p>
            </div>
            <div class="d-flex align-items-center me-5">
                <img src="assets/account/campana.svg" alt="campana">
                <p class="p-0 m-0 ms-2">Notificaciones</p>
            </div>
            <div class="profilePhotoDIV d-flex align-items-center">
                <img class="fotoPerfil" src="/assets/temp/Foto.jpg" alt="foto">
            </div>
        </div>        
        <div class="ms-5">
            <div>
                <h1 class="f-32 mensajeBienvenida">¡Bienvenido, Pedro!</h1>
            </div>
            <div class="">
                <h2 class="f-24">Servicios contratados actualmente</h2>
            </div>
            <div class="d-flex align-items-center mt-4">
                <div class="card card-size">
                    <div class="row g-0">
                        <div class="col-auto">
                            <img class="img-fluid rounded-start" style="height: 138px;" src="assets/temp/professional.svg" alt="cardfoto">
                        </div>
                        <div class="col">
                            <div class="card-body p-0 my-0 me-0 ms-2">
                                <h5 class="card-title p-0 m-0 f-20">Javier Gámez</h5>
                                <p class="card-text p-0 m-0 f-14"><small class="text-body-secondary">Plomero</small></p>
                                <p class="card-text p-0 m-0 f-14"><b>Tipo de servicio:</b> arreglo de tubería</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-size">
                    <div class="row g-0">
                        <div class="col-auto">
                            <img class="img-fluid rounded-start" style="height: 138px;" src="assets/temp/aseador.svg" alt="cardfoto">
                        </div>
                        <div class="col">
                            <div class="card-body p-0 my-0 me-0 ms-2">
                                <h5 class="card-title p-0 m-0 f-20">Alfredo campo</h5>
                                <p class="card-text p-0 m-0 f-14"><small class="text-body-secondary">Aseador</small></p>
                                <p class="card-text p-0 m-0 f-14"><b>Tipo de servicio:</b>Tipo de servicio: limpieza de muebles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h2 class="f-24 mb-4">Servicios que te pueden interesar</h2>
                <app-profile-services></app-profile-services>
            </div>
            <div class="mt-5 mb-5">
                <h2 class="f-24 mb-4">Calificaciones pendientes</h2>
                <app-servicios-contratados-card></app-servicios-contratados-card>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>