.mainDIV{
    font-family: urbanist, sans-serif;
}

.barraLateral {
    border-right: 2px solid #F7F1FF;
    background-color: #F7F1FF;
}

.profilePhotoDIV{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: black;
}

.fotoPerfil{
    border-radius: 100%;
}

.contenedorInterno{
    margin-top: 107px;
    margin-left: 69px;
}

hr{
    width: 106px;
    border: 2px solid #a852ffff;
    margin: 0px;
    padding: 0px;
}

.contenedorSuperior{
    display: flex;
    border-bottom: 2px solid #F7F1FF;
    height: 141px;
    margin-bottom: 37px;
    padding-right: 76px;
}

.mensajeBienvenida{
    margin-bottom: 96px;
}

.card-size{
    width: 370px;
    height: 140px;
    margin-right: 48px;
}