<app-navbar></app-navbar>
<div class="container mb-5">
    <div class="card border-0">
        <div class="row g-0">
            <div class="col-md-5">
                <div class="card-body m-0 p-0">
                    <h1 class="f-40">¡Hola de nuevo!</h1>
                    <p class="f-20 pt-3 pb-4">Estamos felices de tenerte de vuelta</p>
                    <button class="form-control googleSign" routerLink="/sdfdsf"><img class="me-2"
                            src="assets/img/google.png" alt="Google" width="30px">Iniciar sesión con Google</button>
                    <div class="d-flex justify-content-center py-4">
                        <hr class="hrStyle col-4 d-flex align-items-center">
                        <p class="col-3 f-16 text-center">o inicia sesión con</p>
                        <hr class="hrStyle col-4 align-items-center">
                    </div>
                    <form class="row pt-2" [formGroup]="myForm" (ngSubmit)="login(myForm)">
                        <div If="errorMessage">
                            {{ errorMessage }}
                        </div>
                        <div class="mb-2">
                            <label class="f-16" for="email">Email</label>
                        </div>
                        <div class="mb-4">
                            <input class="formInputs form-control" formControlName="email" type="email" placeholder="example@gmail.com">
                        </div>
                        <div class="mb-2">
                            <label class="f-16" for="password">Contraseña</label>
                        </div>
                        <div>
                            <input class="formInputs form-control" formControlName="password" type="password" placeholder="Entre 8 y 12 carácteres">
                        </div>
                        <div class="d-flex justify-content-end pt-2 pb-5">
                            <a routerLink="/forgotPass">Olvidaste tu contraseña?</a>
                        </div>
                        <div>
                            <button type="submit" class="botonPurple form-control">Iniciar sesión</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 offset-md-1 text-center pt-5">
                <img class="img-fluid" src="/assets/login/login.svg" alt="bannerLogin">
                <div class="d-flex justify-content-center mt-5">
                    <p class="me-3">No tienes cuenta?</p>
                    <a routerLink="/registro" routerLinkActive="router-link-active">Crear cuenta</a>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>