.profileServicesCard {
    width: 360px;
    height: 480px;
    border-radius: 12px;
    border: 1px solid #CAC4D0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerCard {
    width: 360px;
    height: 48px;
}

.imgCard {
    width: 358px;
    height: 212px;
}

h1 {
    font-family: Urbanist, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.subText {
    color: #4D4D4D;
    font-family: Urbanist, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.descripcion {
    color: #4D4D4D;
    font-family: Urbanist, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

.botonesWhite {
    width: 123px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    border: 1px solid #A851FF;
    color: #C496FF;
    background-color: white;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin: 0px;
    padding: 0px;
}

.botonWhiteDIV{
    margin: 0px;
    padding: 0px;
    width: 123px;
    height: 40px;
}

.botonesPurpleDIV{
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: 40px;
}

.botonesPurple {
    width: 100px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-family: Urbanist, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.1px;
    border-radius: 5px;
    background: #A851FF;
    margin: 0px;
    padding: 0px;
}