
.navbarStyle {
    height: 188px;
    margin: 10px;
}

.linksStyles {
    color: #390084;
    text-align: center;
    font-family: Urbanist, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin: 0px 88px 0px 0px;
}

.navButton{
    width: 167px;
}

.FotoNavbarDIV{
    width: 69px;
    height: 69px;
    border: #390084 2px solid;
    border-radius: 100%;
}

.fotoUsuario{
    width: 65px;
    border-radius: 100%;
}