<nav class="container navbar navbar-expand-lg">
    <div class="container navbarStyle">
        <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.svg" alt="Home" width="138px"
                height="46px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto align-items-center">
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item" *ngIf="isAuthenticated">
                        <a class="nav-link linksStyles" routerLink="/professionals">Servicios</a>
                    </li>
                    <li class="nav-item" *ngIf="!isAuthenticated">
                        <a class="nav-link linksStyles" routerLink="/professionals">Servicios</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuthenticated">
                        <a class="nav-link linksStyles" routerLink="/mensajeria">Mensajes</a>
                    </li>
                    <li class="nav-item" *ngIf="!isAuthenticated">
                        <a class="nav-link linksStyles" routerLink="/login">Iniciar sesión</a>
                    </li>
                    <li class="nav-item" *ngIf="isAuthenticated">
                        <a class="nav-link linksStyles" routerLink="/professionals">Notificaciones</a>
                    </li>
                    <li class="nav-item" *ngIf="!isAuthenticated">
                        <a class="nav-link" routerLink="/registro"><button
                                class="botonPurple navButton">Registrarse</button></a>
                    </li>
                    <li class="nav-item" *ngIf="isAuthenticated">
                        <div class="FotoNavbarDIV"><a href="#" routerLink="/account">
                                <img class="fotoUsuario" src="/assets/temp/Foto.jpg" alt="UserPhoto"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>