<app-navbar></app-navbar>
<div class="mainDIV">
    <div>
        <div class="mt-2 mb-5 text-center">
            <img src="assets/forgotPass/candado.svg" alt="candado">
        </div>
        <div class="titulo mb-3 text-center">
            <p class="f-24"><b>¿Olvidaste tu contraseña?</b></p>
        </div>
        <div class="mb-5">
            <p class="text-center f-20">¡No te preocupes! Solo ingresa tu correo electrónico y te enviaremos un código para
                que hagas
                una nueva</p>
        </div>
    </div>
    <div class="container col-md-3 mb-4">
        <form>
            <div>
                <div>
                    <label for="email" class="f-20"><b>Correo electrónico</b></label>
                </div>
                <div class="mb-5">
                    <input class="formInputs form-control" type="email" placeholder="example@gmail.com">
                </div>
            </div>
            <div class="mb-4">
                <button class="botonPurple form-control" type="submit">Enviar código</button>
            </div>
        </form>
    </div>
    <div class="text-center">
        <a class="f-purpleNormal f-20" routerLink="/login"><b>Regresar</b></a>
    </div>
</div>
<router-outlet></router-outlet>