<div class="card card-size">
    <div class="row g-0">
        <div class="col-auto">
            <img class="img-fluid rounded-start" style="height: 138px;" src="assets/temp/professional.svg"
                alt="cardfoto">
        </div>
        <div class="col">
            <div class="card-body p-0 my-0 me-0 ms-2">
                <h5 class="card-title p-0 m-0 f-20">Javier Gámez</h5>
                <p class="card-text p-0 m-0 f-14"><small class="text-body-secondary">Plomero</small></p>
                <p class="card-text p-0 m-0 f-14"><b>Tipo de servicio:</b> arreglo de tubería</p>
            </div>
        </div>
    </div>
</div>