<div class="container">
    <div class="mainDIV">
        <div class="containerr">
            <img src="asssets/loginMessage/message.png" alt="exclamacion">
            <h1 class="f-20"><b>Es necesario iniciar sesión o registrarse</b></h1>
            <p class="p-16">¿Quieres solicitar un servicio? No te preocupes, solo inicia sesión o regístrate en nuestra
                App
                y comienza a disfrutar de los diferentes servicios que tenemos para ti.</p>
            <button class="botonPurple">Iniciar sesión</button>
        </div>
    </div>
</div>