.card {
    width: 263px;
    height: 318px;
    border: 0px;
    padding: 0px;
    border: 1px #CAC4D0 solid;
    border-radius: 10px;
    position: relative;
}

.banner {
    position: absolute;
    width: 261px;
    height: 105px;
    border: 0px;
    border-radius: 10px 10px 0px 0px;
    margin-left: 0px;
    margin-top: 0px;
}

.profilePhotoDIV {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    margin-top: 80px;
    margin-left: 16px;
}

.profilePhoto {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 100%;
    margin:0px;
    padding: 0px;
}

.cardInfo {
    padding: 140px 0px 0px 0px;
    margin: 0px;
    margin-top: 00px;
}

.name {
    color: var(--Texto, #000);
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    overflow: hidden;
}

.estrellas {
    height: 12px;
    /* margin-top: 9px; */
    padding: 0px;
    margin: 0px 10px 0px 0px;
    color: #A851FF;
}

.scoreDIV {
    padding: 0px 0px 0px;
    margin: 0px;

}

.scoreData {
    color: black;
    font-size: 12px;
    font-family: Urbanist;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10px;
    word-wrap: break-word
}

.conteoReseñasData {
    color: black;
    font-size: 12px;
    font-family: Urbanist;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
}

.conteoReseñas {
    padding: 0px;
    margin: 0px;
}

.iconos {
    display: inline;
    position: relative;
    width: 14px;
    margin: 0px;
    padding: 0px;
}

.informacionPersonal {
    color: black;
    font-size: 14px;
    font-family: Urbanist;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
    margin-bottom: 0px;
}

.informacionPersonalDIV1{
    margin-top: 0px;
}

.informacionPersonalDIV2{
    margin-top: 13px;
    margin-bottom: 13px;
}

.col-iconos {
    display: flex;
    align-items: center;
    width: 19px;
}

.verPerfilButton {
    color: white;
    font-size: 14px;
    font-family: Urbanist;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
    width: 261px;
    height: 46px;
    border: 0px;
    border-radius: 0px 0px 9px 9px;
    margin: 0px;
    padding: 0px;
    background-color: #A851FF;
}

.stars{
    font-size: 10px;
}

.infoContainer{
    height: 130px;
}

.botonAdquirir{
    width: 208px;
}