<div class="card cardSize m-0 p-0">
    <div class="banner m-0 p-0">
        <img class="banner" [src]="data.fotoPortada" alt="banner">
    </div>
    <div class="profilePhotoDIV">
        <img class="profilePhoto" [src]="data.fotoPerfil" alt="foto">
    </div>
    <div class="cardInfo">
        <div class="infoContainer row my-0 ms-3 me-0 p-0">
            <div class="row m-0 p-0 row align-content-center">
                <div class="col-6 m-0 p-0 d-flex">
                    <h1 class="name d-flex m-0 p-0 text-truncate">{{data.nombreProfesional + " " +
                        data.apellidosProfesional}}</h1>
                </div>
                <div class="col-iconos m-0 p-0 d-flex">
                    <img src="assets/card/check.svg" alt="verification">
                </div>
            </div>
            <div class="row m-0 p-0">
                <div class="estrellas col-4 row align-content-center">
                    <div class="p-0 m-0">
                        <i class="bi bi-star-fill stars"></i>
                        <i class="bi bi-star-fill stars"></i>
                        <i class="bi bi-star-fill stars"></i>
                        <i class="bi bi-star-fill stars"></i>
                        <i class="bi bi-star-fill stars"></i>
                    </div>
                </div>
                <div class="scoreDIV col-1">
                    <p class="scoreData m-0 p-0">4.5</p>
                </div>
                <div class="conteoReseñas col-4">
                    <p class="conteoReseñasData m-0 p-0">(126)</p>
                </div>
            </div>
            <div class="row informacionPersonalDIV1 row align-content-center">
                <div class="col-iconos m-0 p-0">
                    <img class="iconos" src="assets/card/maletin.svg" alt="icono">
                </div>
                <div class="col-10 m-0 p-0">
                    <p class="informacionPersonal">{{data.servicios}}</p>
                </div>
            </div>
            <div class="row informacionPersonalDIV2 row align-content-center">
                <div class="col-iconos m-0 p-0">
                    <img class="iconos m-0 p-0" src="assets/card/ubicacion.svg" alt="icono">
                </div>
                <div class="col-10 m-0 p-0">
                    <p class="informacionPersonal">{{data.direccionProfesional}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="m-0 p-0">
        <button routerLink="/profile" class="verPerfilButton" onclick="verProfesional(data.idUsuario)">Ver perfil</button>
    </div>
</div>

<router-outlet></router-outlet>