<app-navbar></app-navbar>
<div class="container">
    <div class="container mb-4">
        <form action="" class="row">
            <div class="col-4 filtro1DIV">
                <input class="filtro1" type="text" placeholder="Ubicación">
            </div>
            <div class="col-4 filtro2DIV noStyle">
                <input class="filtro2" type="text" placeholder="Categoria">
            </div>
            <div class="col-4 filtro3DIV noStyle row align-content-center">
                <div class="col-10 m-0 p-0">
                    <input class="filtro3" type="text" placeholder="Reseñas">
                </div>
                <div class="col-2 row align-content-center p-0 m-0" onclick="getServiciosProfesional()">
                    <div class="search row align-content-center">
                        <img class="m-0 p-0 iconoSearch" src="assets/professionals/search.svg" alt="">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container py-5 px-0 mx-0 my-0 row">
        <!-- <div class="cardSize py-0 mt-0 mb-5 mx-4">
            <app-card class="p-0"></app-card>
        </div> -->
        <div *ngFor="let item of data" class="cardSize py-0 mt-0 mb-5 mx-4">
                <app-card [data]="item" class="p-0"></app-card>
            </div>
    </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>