.filtro1DIV{
    height: 97px;
    padding: 0px;
    border: 1px #CAC4D0 solid;
    border-radius: 50px 0px 0px 50px;
}

.filtro1{
    width: 100%;
    height: 95px;
    border: 0px ;
    border-radius: 50px 0px 0px 50px;
}

.filtro1::placeholder{
    padding: 48px;
    color: #390084;
    font-family: Urbanist, sans-serif;
}

.filtro2DIV{
    height: 97px;
    padding: 0px;
    border: 1px #CAC4D0 solid;
    border-radius: 0px;
}

.filtro2{
    width: 100%;
    height: 95px;
    border: 0px;
}

.filtro2::placeholder{
    padding: 48px;
    color: #390084;
    font-family: Urbanist, sans-serif;
}

.filtro3DIV{
    height: 97px;
    padding: 0px;
    border: 1px #CAC4D0 solid;
    border-radius: 0px 50px 50px 0px;
}

.filtro3{
    height: 95px;
    border: 0px;
}

.filtro3::placeholder{
    padding: 48px;
    color: #390084;
    font-family: Urbanist, sans-serif;
}

.cardSize{
    width: 263px;
    height: 305px;
}

.card-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search{
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 100%;
}

.iconoSearch{
    width: 70px;
}